<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Coach" />
            <deny users="*"/>
        </authorization>
    </system.web>

    <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
    <location path="AthleteSchoolInfo.aspx">
        <system.web>
            <authorization>
                <allow roles="Coach, OfficeManager" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>
