<?xml version="1.0"?>
<configuration>

    <location path="CreateAccount.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="xxCreateCoachAccountxx.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="LoginHide.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="PasswordMailer.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

    <system.web>
        <authorization>
            <deny users="?"/>
        </authorization>
    </system.web>

</configuration>
