<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="DatabaseManager" />
            <deny users="*"/>
        </authorization>
    </system.web>

    <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
    <location path="GroupsView.aspx">
        <system.web>
            <authorization>
                <allow roles="Coach, DatabaseManager" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>
